/* se usa en TODAS las clases 
hace que los A sean "invisibles"
*/
a {
  text-decoration: none;
  color: inherit;
  display: block;
}

/* se usa en TODAS las clases 
  encargado del header 
  */
header {
  background-color: #49108b;
  color: #ffffff;
  width: 100%;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box;
}

/* se usa en TODAS las clases 
  encargado de hacer la imagen del logo pequeña
  */
.foto-logo {
  flex: 1 1 auto;
  width: 7rem;
  height: auto;
}

/* se usa en TODAS las clases 
  contenedro de la foto de perdil hace que se mire lindo lol
  */
.foto-perfil-container {
  flex: 0 1 auto;
  display: inline;
  align-items: center;
  text-align: center;
  position: relative;
  display: inline-block;
}

/* se usa en TODAS las clases 
  que la foto de perdil sea redonda y se mire bien
  */
.foto-perfil {
  width: 6.5rem;
  height: 6.5rem;
  border-radius: 50%;
  object-fit: cover;
  display: block;
}

/* se usa en TODAS las clases de administrador
le pone una corona
  */
.foto-admin {
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
}

@media (max-width: 768px) {
  header {
    padding: 1rem;
  }

  .foto-logo {
    width: 5rem;
    height: auto;
  }

  .foto-perfil {
    width: 5rem;
    height: 5rem;
  }
}