* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #ffffff;
}

nav {
  background-color: #49108b;
  color: #ffffff;
  width: 100%;
  max-width: 1800px;
  padding: 3rem 2rem;
  display: inline-flex;
  gap: 30rem;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 75rem;
  background-color: #49108b;
  color: #ffffff;
  font-size: 130%;
}

nav > ul {
  color: #ffffff;
  text-decoration: none;
  background-color: #49108b;
}

.anclados {
  text-align: center;
}


.cuadritomain {
  background-color: #d8cef0;
  padding: 1rem;
  margin: 4rem auto;
  max-width: 84rem;
  border-radius: 24px;
  display: block;
}

.destacado-container {
  display: flex;
  gap: 1rem 2rem;
  flex-wrap: nowrap;
  justify-content: space-evenly;

}
.destacado {
  text-align: center;
  background-color: white;
  padding: 7.9rem;
  margin-top: 4rem;
  max-width: 30rem;
  border-radius: 1rem;
}

.recientes-container {
  display: flex;
  gap: 1rem 2rem;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

.reciente{
  text-align: center;
  background-color: white;
  padding: 7.9rem;
  margin-top: 4rem;
  max-width: 30rem;
  border-radius: 24px;
}

.subtitulo{
  text-align: left;
  margin-top: 4rem;
}



